$header-bgc: #265847;

.header {
  position: relative;
  padding-top: 50px;
  height: 800px;
  background-color: $header-bgc;
  background-image: url("./../img/header/header-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /*Tablet*/
  @include tablet {
    height: 591px;
  }
}

.header-top {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
  justify-content: space-between;
  align-items: center;

  /*Tablet*/
  @include tablet {
    width: 900px;
  }

  /*Mobile*/
  @include mobile {
    width: 600px;
  }

  /*Mobile XS*/
  @include mobile-s {
    width: 100%;
  }
}

.header-inner {
  padding: 25px 0;
  background-color: $header-bgc;
  background-image: url("./../img/header/header-inner.webp");
  height: 100px;
  
}

.header-content {
  position: absolute;
  width: 1170px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  &__title {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 700;

    /*Tablet*/
    @include tablet {
      font-size: 52px;
    }

    /*Mobile*/
    @include mobile {
      font-size: 42px;
    }

    /*Mobile XS*/
    @include mobile-s {
      font-size: 32px;
    }
  }

  &__descr {
    font-size: 24px;

    /*Mobile*/
    @include mobile {
      font-size: 20px;
    }

    /*Mobile XS*/
    @include mobile-s {
      font-size: 18px;
    }
  }

  &__descr + &__descr {
    margin-top: 10px;
  }

  /*Tablet*/
  @include tablet {
    width: 900px;
    padding: 0 15px;
  }

  /*Mobile*/
  @include mobile {
    width: 600px;
  }

  /*Mobile XS*/
  @include mobile-s {
    width: 320px;
  }
}

.header-scroll {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  display: inline-block;
  height: 55px;

  text-align: center;
  font-size: 16px;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-image: url("../img/icons/arrow-down.svg");
  }

  @include tablet {
    font-size: 0;
  }
}
