section.description
	.container 
		.description__row.flex
			.description-content
				.description-content__title
					h2.h2 Популярные направления
				.description-content__desc 
					p 
						| Когда 
						b Горный Алтай 
						| называют второй Швейцарией, алтайцы отвечают, что нужно еще разобраться, кто тут второй. Чтобы расставить все по местам, отправляйтесь в путешествие по Чуйскому тракту , по 
						a.text-link(href="#!") Горному Алтаю
						|  до самой Монголии. 962 км — полный маршрут 
						b Новосибирск—Новоалтайск—Бийск—Майма 
						| —государственная граница с Монголией.
				.description-content__link
					a.button(href="#") Подробнее 
			.description-image
					img(src="./img/description/img-1.webp", alt="Рука с компасом")
		.description__row.flex.description__row--reverse
			.description-content
				.description-content__title
					h2.h2 Впечатляющие маршруты
				.description-content__desc
					p 
						| Вишенкой на торте станет поездка в Национальный парк 
						b Порт-Кэмпбелл 
						| через Ocean Road, которая сама по себе стоит визита в 
						a.text-link(href="#!") Австралию
						| . Полюбуетесь одной из главных достопримечательностей страны — скалами, которые до 1922 года были известны в народе как	
						b «Хрюшка и поросята»
						| , а сегодня носят название «Двенадцать апостолов».
				.description-content__link
					a.button(href="#!") Подробнее 
			.description-image
					img(src="./img/description/img-2.webp", alt="Рука с компасом")