footer.footer
	.container 
		.footer__row.flex
			.footer__row-copy
				.logo.logo--footer ФорестТревел
				.footer-copy 
					p При поддержке Управления по туризму Российской Федерации. ФорестТревел. Все права защищены. Copyright © 2021
			.footer__row-widget.flex
				.footer-widget.footer-widget--info
					.footer-widget__title 
						h3 Информация
					ul.footer-widget__list
						li.footer-widget__item
							a(href="#!").footer-widget__link Главная
						li.footer-widget__item
							a(href="#!").footer-widget__link О компании
						li.footer-widget__item
							a(href="#!").footer-widget__link Галерея
						li.footer-widget__item
							a(href="#!").footer-widget__link Блог
				.footer-widget.footer-widget--services
					.footer-widget__title 
						h3 Услуги
					ul.footer-widget__list
						li.footer-widget__item
							a(href="#!").footer-widget__link Бесплатные туры
						li.footer-widget__item
							a(href="#!").footer-widget__link Невероятные приключения
						li.footer-widget__item
							a(href="#!").footer-widget__link Экстремальный отдых
						li.footer-widget__item
							a(href="#!").footer-widget__link Экзотические джунгли
						li.footer-widget__item
							a(href="#!").footer-widget__link Трекинг походы
				.footer-widget.footer-widget--contacts
					.footer-widget__title 
						h3 Контакты
					ul.footer-widget__list
						li.footer-widget__item
							a(href="#!").footer-widget__link +7 (905) 555-55-55
						li.footer-widget__item
							a(href="#!").footer-widget__link info@foresttravel.com
						li.footer-widget__item
							a(href="#!").footer-widget__link г. Москва, Рязанский проспект 54, офис 112.