header.header
	.header-top.flex
		.logo ФорестТревел
		.header-nav
			ul.header-nav__list.flex
				li.header-nav__item
					a(href="#!").header-nav__link Главная
				li.header-nav__item 
					a(href="#!").header-nav__link Туры и направления
				li.header-nav__item 
					a(href="#!").header-nav__link О компании
				li.header-nav__item 
					a(href="#!").header-nav__link Галерея
				li.header-nav__item 
					a(href="#!").header-nav__link Контакты
			button.burger(type='button')
				span.burger-bar
	.header-content
		h1.header-content__title Путешествие всегда хорошая идея
		p.header-content__descr Турпоходы по дикой природе
	a.header-scroll(href="#!") cкролл вниз
