section.tours 
	.container 
		.tours__title-wrapper
			h1.section-title Туры и направления
		.tours-row.flex
			a(href="#").tour-card
				.tour-card__img
					img(src="./img/tours/free.webp", alt="Бесплатные туры") 
				.tour-card__footer.tour-card__footer--free.flex 
					.tour-card__title Бесплатные туры
			a(href="#").tour-card
				.tour-card__img
					img(src="./img/tours/extreme.webp", alt="Экстремальный отдых") 
				.tour-card__footer.tour-card__footer--extreme.flex
					.tour-card__title Экстремальный отдых
		.tours-row.flex
			.tours-row__horizontal.flex
				a(href="#").tour-card
					.tour-card__img
						img(src="./img/tours/adventure.webp", alt="Невероятные приключения") 
					.tour-card__footer.tour-card__footer--adventure.flex 
						.tour-card__title Невероятные приключения
				a(href="#").tour-card
					.tour-card__img
						img(src="./img/tours/tracking.webp", alt="Трекинг походы") 
					.tour-card__footer.tour-card__footer--tracking.flex 
						.tour-card__title Трекинг походы 
			a(href="#").tour-card.tour-card--exotic
				.tour-card__img
					img(src="./img/tours/exotic.webp", alt="Экзотические джунгли") 
				.tour-card__footer.tour-card__footer--exotic.flex 
					.tour-card__title Экзотические джунгли