$base-text-color: #fff;

//breakpoints

/*Tablet*/
@mixin tablet {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

/*Mobile*/
@mixin mobile {
  @media screen and (max-width: 899px) {
    @content;
  }
}

/*Mobile XS*/
@mixin mobile-s {
  @media screen and (max-width: 599px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  font-family: $ptsans;
  font-weight: 400;
  color: $base-text-color;
}
.noscroll {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  height: 100vh;
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input,
button,
button:focus,
input:focus {
  outline: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

input[type="submit"] {
  padding: 0;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid red;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #01203c inset;
  transition: background-color 5000s ease-in-out 0s;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;

  /*Tablet*/
  @include tablet {
    width: 900px;
  }

  /*Mobile*/
  @include mobile {
    width: 600px;
  }

  /*Mobile XS*/
  @include mobile-s {
    width: 320px;
  }

  &--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*Mobile XS*/
    @include mobile-s {
      width: 100%;
    }
  }
}

.flex {
  display: flex;
}

.svg-down {
  width: 24px;
  height: 24px;
}

.lock {
  overflow: hidden;
}

.none {
  display: none;
}

.h2 {
  color: $dark-text;
  font-family: $ptsans;
  font-size: 54px;
  font-weight: 700;

  /*Tablet*/
  @include tablet {
    font-size: 50px;
  }

  /*Mobile*/
  @include mobile {
    font-size: 42px;
  }

  /*Mobile XS*/
  @include mobile-s {
    font-size: 34px;
  }
}

.inner {
  padding-top: 60px;
  padding-bottom: 100px;

  /*Tablet*/
  @include tablet {
    padding: 60px 0;
  }

  /*Mobile*/
  @include mobile {
    padding: 40px 0;
  }
}
