.footer-widget {
  padding-top: 10px;
  color: $light-text;
  font-family: $ptsans;
  &__title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
  }

  &__item {
    font-size: 18px;
    font-weight: 400;
  }

  &__item + &__item {
    margin-top: 15px;
  }

  &__link {
    transition: 0.3s;
    &:focus {
      outline: none;
    }

    &:hover,
    &:active {
      color: $dark-text;
    }
  }

  &--info {
    width: 170px;
  }

  &--services,
  &--contacts {
    width: 270px;
  }
}
