.logo {
  font-family: $lobster;
  color: $base-text-color;
  font-size: 40px;

  /*Mobile XS*/
  @include mobile-s {
    font-size: 30px;
  }

  &--footer {
    margin-bottom: 26px;
  }
}
