extends ../layouts/layout.pug

block content
	include ../blocks/_header-inner.pug
	main.inner
		include ../sections/_tours.pug
	include ../sections/_footer.pug
	
block variables
	-var title = "Forest Travel";
