extends ../layouts/layout.pug

block content
	include ../blocks/_header-inner.pug
	main.inner.inner--tracking
		include ../sections/_tracking.pug
		
	include ../sections/_footer.pug
	
block variables
	-var title = "Трекинг походы";
